body {
  background-color: rgb(34, 34, 34) !important;
  color: aliceblue;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-card .card {
  width: 300px !important;
  height: 450px !important;
  margin: 20px 30px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(97, 99, 100);
  overflow: hidden;
  /* overflow-y: scroll; */
  max-height: 600px !important;
  padding: 5px;
}

.main-card .card .thumnail1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 250px;
  border-radius: 30px;
  padding: 5px 0px;
}
.main-card .card .card-body {
  margin: 0px !important;
  padding: 0px !important;
}
.main-card .card .card-body h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
  padding: 1px 10px !important;
  text-align: left;
}

.main-card .card .card-body .price {
  font-size: 18px;
  font-weight: 700;
}
.main-card .card .card-body .rh-home {
 display: flex;
}

.main-card .card .card-body .rh {
  height: 35%;
  width: 35%;
  margin-top: -18px;
}


.main-card .card .card-body .title {
  font-size: 14px;
  font-weight: 700;
}

.main-card .card .card-body .catagery {
  font-size: 14px;
  font-weight: 700;
}
.main-card .card .card-body .description {
  font-size: 14px;
  font-weight: 700;
}

.main-card {
  display: flex !important;
  flex-wrap: wrap !important;
}

.logo {
  width: 150px;
  height: 80px;
}

.container {
  background-color: rgb(34, 34, 34);
}

nav .container-fluid form input {
  width: 500px;
  background-color: rgb(202, 198, 193);
  margin-left: 60px;
}

nav .container-fluid form button {
  border-color: rgb(202, 198, 193);
  color: rgb(202, 198, 193);
  width: 150px;
}
nav .container-fluid form button:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: #212529;
}
nav .container-fluid form .Login-icon {
font-size: 30px;  
margin: auto 50px;
cursor: pointer;
}
nav .container-fluid form .sale-btn {
cursor: pointer;
color: white;
background: transparent;
border: 3px solid #114fd5;
border-radius: 30px;
padding: 5px 0px;
}

nav .container-fluid .navbar-nav {
  margin-left: 40px !important;
}

/* ////////////////////////////// selected item css here ///////////////////////////////////// */

.card-container {
  display: flex;
margin-top: 100px;
/* margin-left: 150px; */
justify-content: space-around;

}
.card-selected {
  width: 600px !important;
  height: 400px !important;
  background: transparent;
  border: 1px solid white;
}

.card-selected .card-body1 img {
  width: 580px !important;
  height: 380px !important;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 8px;
  border-radius: 10px;
}

.card-container .selected-card2 {
  width: 300px;
  height: auto;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-align: left !important;
  padding: 10px 15px;
  margin-left: -500px!important;
}

.card-container .selected-card2 .profile {
  width: 60px;
  height: 60px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.card-container .selected-card2 .profile-items{
  display: flex;
}
.card-container .selected-card2 .profile-items .profile-name{
padding-top: 12px!important;
}
.card-container .selected-card2 .card-detail .time{
margin-top: -30px!important;
margin-left: 60px!important;
font-size: 10px;
}
.card-container .selected-card2 .card-detail .Price{
padding-top: 30px!important;
}
.card-container .selected-card2 .card-detail .rewiew-section .rewiew{
height: 35%;
width: 35%;
margin-top: -18px;
}
.card-container .selected-card2 .card-detail .rewiew-section{
display: flex;
}

/* ////////////////////////////// selected item css here ///////////////////////////////////// */

/* /////////////////////////////// all catogerirs here ////////////////////////////////// */


.card-catogeries{
  /* border: 1px solid white; */
  height: auto;
  width: 1200px;
  border-radius: 10px;
  background-color: transparent;
  margin: 50px auto;
}

.card-catogeries .card-body-catogries .catog{
  width: 140px!important;
  height: 120px!important;
margin-top: 30px;
cursor: pointer;
text-align: center;
margin-left: 10px;
}

.card-catogeries .card-body-catogries .catog img{
  width: 70px;
  height: 70px;
}

.card-catogeries .card-body-catogries{
display: flex;
flex-wrap: wrap;
margin: 10px;
}
.card-catogeries .card-body-catogries .catog p{
 text-align: center;
 /* width: 120px; */
}

















/* /////////////////////////////// all catogerirs here ////////////////////////////////// */







/* /////////////////// signup ///////////////////////// */

.signup-container{
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 10%;
  padding: 10px 0px;
}
.signup-container input{
  border: 1px solid rgb(95, 93, 93);
  display: block;
  width: 90%;
  background: transparent;
  margin: 20px auto;
  color: beige;
  padding: 0px 10px;
  height: 35px;
  border-radius: 5px;
}
.signup-container input:hover{
  border-color: #114fd5;
}
.signup-container button{
  border: 1px solid rgb(44, 44, 44);
  display: block;
  width: 90%;
  color: rgb(255, 255, 255);
  margin: 20px auto;
  height: 35px;
  background-color: #1a59e2;
  border-radius: 5px;
}

.signup-container p {
  text-align: center;
  cursor: pointer;
}