body{
    background-color: rgb(49, 46, 46)!important;
}


.container-one{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(24, 23, 23);
    width: 25%!important;
    position: relative;
    left: 40%;
    overflow: hidden;
    color: white;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px 10px;
}

.container-one h6{
    padding: 0px 67px;
    margin-top: -15px;
}

.container {
    width: 40%!important;
}

.border {
    border: 1px solid rgb(147, 141, 141)!important;
    border-radius: 6px;
    margin: 2px 0px!important;
}

.container-one .Description li{
    list-style: none;
    padding: 0px 15px;
}

.liked-icon{
    color: blue;
    font-size: 25px;
    transition: all ease-in .2s;
}

.like-icon{
    color: aliceblue;
    font-size: 25px;
}

.container-one .fbContainer{
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.container-one .fbContainer .Prf-name{
padding: 0px 10px;
}

.container-one .fbContainer .prfImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(154, 150, 150);
}

.container-one .Description p{
    padding: 0px 10px;
}

.container-one .likes{
    height: 40px;
    width: auto;
    border-top: 1px solid white;
    margin: 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-one .likes .like-icon{
    text-align: center;
    font-size: 23px;
    cursor: pointer;
}

.container-one .likes .comment-icon{
    text-align: center;
    font-size: 25px;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.height-two {
    width: 0%;
    padding-top: 0%;
}